# directories
node_modules/
.sass-cache/
log/
vendor/
local-site/

# build outputs
build/
*.log
*.map

# build tools lock
composer.lock
package-lock.min.json
yarn.lock

# IDE's
.project/
.vscode/
.idea/

# other
Thumbs.db
*.DS_Store
coverage/
