DOMAINS=("example.com"
		 "www.example.com"
		 "www1.example.com"
		 "www2.example.com")

CRT_EMAIL=webmaster@example.com

CRT_DIR=/opt/bitnami/nginx/conf
LET_DIR=/opt/bitnami/letsencrypt/certificates


# Based on bitnami stack
WP_SITE_ROOT=/opt/bitnami/apps/wordpress/htdocs
WP_CLI_PATH=/opt/bitnami/apps/wordpress/bin

SITE_BAK=/opt/bitnami/apps/wordpress/wp-update-backups/

# Default php.ini
PHP_DIR=/opt/bitnami/php/etc

# Date stamp to used in all renames, backup, log files
readonly DATESTAMP=$(date +"%Y%m%d-%H%M%S")
PRIMARY_DOMAIN=${DOMAINS[0]};
