# The script will add www automatic to each domain
DOMAINS=("example.com"
		 "example1.com"
		 "example2.com"
		 "example2.com")

CRT_EMAIL=webmaster@example.com

CRT_DIR=/opt/bitnami/nginx/conf
LET_DIR=/opt/bitnami/letsencrypt/certificates


# Based on bitnami stack
WP_SITE_ROOT=/opt/bitnami/apps/wordpress/htdocs
WP_CLI_PATH=/opt/bitnami/apps/wordpress/bin

SITE_BAK=/opt/bitnami/apps/wordpress/wp-update-backups/
SITE_LOG=/opt/bitnami/apps/wordpress/logs

# Default php.ini
PHP_DIR=/opt/bitnami/php/etc

# Date stamp to used in all renames, backup, log files
readonly DATESTAMP=$(date +"%Y%m%d-%H%M%S")
PRIMARY_DOMAIN=${DOMAINS[0]};

export VISUAL="nano"
